<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>PaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateShippingServlet</servlet-name>
        <servlet-class>ValidateShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidatePaymentServlet</servlet-name>
        <servlet-class>ValidatePaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentShippingServlet</servlet-name>
        <servlet-class>PaymentShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderConfirmedServlet</servlet-name>
        <servlet-class>OrderConfirmedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteCheckoutServlet</servlet-name>
        <servlet-class>CompleteCheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmail</servlet-name>
        <servlet-class>LoginEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPassword</servlet-name>
        <servlet-class>LoginPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckPassword</servlet-name>
        <servlet-class>CheckPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>CheckEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckName</servlet-name>
        <servlet-class>CheckName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOut</servlet-name>
        <servlet-class>CheckOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailSSLBypass</servlet-name>
        <servlet-class>MailSSLBypass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCartServlet</servlet-name>
        <servlet-class>LoadCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <servlet-class>ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionProductsServlet</servlet-name>
        <servlet-class>PromotionProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>SearchProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateShippingServlet</servlet-name>
        <url-pattern>/ValidateShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidatePaymentServlet</servlet-name>
        <url-pattern>/ValidatePaymentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentShippingServlet</servlet-name>
        <url-pattern>/PaymentShippingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderConfirmedServlet</servlet-name>
        <url-pattern>/OrderConfirmedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteCheckoutServlet</servlet-name>
        <url-pattern>/CompleteCheckoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmail</servlet-name>
        <url-pattern>/LoginEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPassword</servlet-name>
        <url-pattern>/LoginPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckPassword</servlet-name>
        <url-pattern>/CheckPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckName</servlet-name>
        <url-pattern>/CheckName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOut</servlet-name>
        <url-pattern>/CheckOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailSSLBypass</servlet-name>
        <url-pattern>/MailSSLBypass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCartServlet</servlet-name>
        <url-pattern>/LoadCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailsServlet</servlet-name>
        <url-pattern>/ProductDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionProductsServlet</servlet-name>
        <url-pattern>/PromotionProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/SearchProductServlet</url-pattern>
    </servlet-mapping>
</web-app>
